NEXT_PUBLIC_API_BASE_URL=https://api.buting.store

# 각 OAuth 콘솔에 아래 콜백 URL을 등록해야 합니다.
# http://localhost:3000/auth/callback/google
# http://localhost:3000/auth/callback/naver
# http://localhost:3000/auth/callback/kakao
GOOGLE_CLIENT_ID=845718993369-cea1iui92d1johu8jmcdcj5disue8g7l.apps.googleusercontent.com
NAVER_CLIENT_ID=spSh8cZVkx6Q3iSMiitn
KAKAO_REST_API_KEY=ed565a9317c05ceb634468973defa9fd
